img.games-card-img {
    height: 10rem;
    width: 100%;
    border-radius: 25px;
}
.bg-indigo {
    /* background-color: #310992; */
}
.text-primary-alt {
    color: #969696 !important;
}
section.games-section .card {
    border-radius: 25px;
}
a.btn.btn-primary.my-1 {
    border-radius: 50px;
    background: linear-gradient(145deg, rgba(255,146,93,1) 0%, rgba(255,112,42,1) 35%, rgba(255,84,0,1) 100%);
    border-color:transparent;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    box-shadow: 0 20px 30px rgb(255 104 30 / 10%);
}
p.card-text {
    margin: 0px;
    font-size: .8rem;
}

.card {
    background: #003171;
    margin:.5rem;
    color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.modal-content {
    background: #003171;
}

.modal-footer {
    background-color: #fff;
}
.modal-dialog-centered {
    min-height: calc(100% - -4rem);
}img.games-card-img {
    height: 10rem;
    width: 100%;
    border-radius: 25px;
}
.bg-indigo {
    background-color: #0e1058;
}
.text-primary-alt {
    color: #969696 !important;
}
section.games-section .card {
    border-radius: 25px;
}
a.btn.btn-primary.my-1 {
    border-radius: 50px;
    background: linear-gradient(145deg, rgba(255,146,93,1) 0%, rgba(255,112,42,1) 35%, rgba(255,84,0,1) 100%);
    border-color:transparent;
    /* padding-right: 2rem; */
    /* padding-left: 2rem; */
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 1.2rem;
    box-shadow: 0 20px 30px rgb(255 104 30 / 10%);
}
p.card-text {
    margin: 0px;
    font-size: .8rem;
}

.card {
    background: #003171;
    margin:.5rem;
    color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-color: #003171;
}
.modal-withdraw .modal-content {
    background: #ffffff;
    color: black;
}

.modal-footer {
    background-color: #fff;
}
.modal-dialog-centered {
    min-height: calc(100% - -4rem);
}
img.game-img.img-fluid.w-100.h-100 {
    border-radius: 10px;
}   
 .card-body {
    background: #003171;
    /* border-color: #3498db; */
}
ul.dropdown-menu.submenu.show {
    background: #003171;
}.fot-span {
    font-size: 1.2rem;
    background: #012554;

    padding: 5px 15px;
    border-radius: 25px;
    padding: rem;
}

.fot-span span {
    padding: 5px;
}

a.fot-ic {
    color: #0072ff;
    text-decoration: none;
}
img.img-payment {
    width: 4rem;
    height: auto;
}
.payment-pic.mt-5.p-2 {
    background-color: #012554;
}
button#btnToggleHeaderNavbar {
    display: block;
    /* height: 6rem; */
    /* font-size: 0rem; */
}